.arrow-container {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth rotation */
  width: 50px;
  height: 50px;
}

.arrow-icon {
  width: 100%;
  height: 100%;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
